body {
  margin: 0;
  background-color: #f6f6f6;
  height: 100%;
  caret-color: transparent;
  user-select: none;
}
.swal2-container {
  z-index: 10001 !important;
}
.swal-popup {
  font-size: 14px !important;
  font-family: 'MyFontBold' !important;
}

.swal-title {
  font-size: 18px !important;
  font-family: 'MyFontBold' !important;
}

.swal-confirm {
  font-size: 14px !important;
  font-family: 'MyFontBold' !important;
}
